<html>

<head>
  <title>All Agents</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>

<%- include('../common/navbar') %>

<div class="jumbotron">
  <div class="row">
    <div class="col-6">
      <h1 class="display-4">All system chats</h1>
    </div>
    <div class="col-6">
      <!--<a style="float: right; margin-top: 15px;" class="btn btn-primary" href="agent/new">Create Agent</a>-->
    </div>
  </div>
  <hr class="my-4">

  <!-- Agents list start -->
  <div class="list-group">
    <% chats.forEach(function(chat) { %>
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <!-- Agent name -->
          <h5 class="mb-1">
            <%= chat.senderId %>
          </h5>
          <!-- Sender id -->
          <small>#messages number: <%= chat.messages.length %></small>
        </div>
        <% if(chat.currentAgent){ %>
        <p style="margin-bottom: 0px;"><small><strong>agent:</strong> <%= chat.currentAgent.username %></small></p>
        <% } else {%>
          <p style="margin-bottom: 0px;"><small><strong>agent:</strong>
              <!--<a href="" class="btn btn-success">Assign</a>-->
              <button type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#exampleModal"
                      data-whatever="<%= chat.senderId %>"
                      data-whatever2="<%= chat._id %>"
              >Assign</button>
            </small></p>
        <% } %>
      </div>
    <% }); %>
  </div>
  <!-- chats list end -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Assign chat</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="assign-chat-form" action="/control/account/<%= accounts[0] %>/chat/assign" method="post">
            <div class="form-group">
              <label for="agents">Agents</label>
              <select name="agentId" class="form-control" id="agents">
                <% agents.forEach(function(agent) { %>
                    <option value="<%= agent.id %>"><%= agent.name %></option>
                <% }); %>
              </select>
              <input type="text" name="chatId" class="form-control chatId" id="chatId">
              <input type="text" name="accountId" id="accountId" class="form-control" value="<%= accounts[0] %>">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" id="submit-chat-form" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever');
      var chatId = button.data('whatever2');
      var modal = $(this)
      modal.find('.modal-title').text('Assign chat ' + recipient + ' to')
      modal.find('.modal-body .chatId').val(chatId)
    })
    $('#submit-chat-form').on('click', function (event) {
      $('#assign-chat-form').submit();
    });
  </script>
</div>
</body>

</html>